
project/project/static/bulma/sass/

project/project/static/bulma/css/

project/project/__pycache__/

project/package-lock\.json

project/offers/__pycache__/

project/node_modules/bulma/sass/utilities/

project/node_modules/bulma/sass/layout/

project/node_modules/bulma/sass/grid/

project/node_modules/bulma/sass/elements/

project/node_modules/bulma/sass/components/

project/node_modules/bulma/sass/base/

project/node_modules/bulma/sass/

project/node_modules/bulma/

project/media/offer_images/

env/lib/python3\.6/

env/include/

env/bin/
