{% extends "base.html" %}
{% block title %}Reset your password{% endblock %}
{% block content %}
<div class="row">

<h1>Zapomniałeś hasła ? </h1>
<p>Wpisz swój e-mail aby je zresetować</p>
<div class="row"> 
        <div class="innerRow1"> 
        <div id="content-container" class="container p-none">
            <div class="lgn-container col-lg-9">
    <form action="." method="post" >
    {{ form.as_p }}
    <p><input type="submit" value="Wyślij"></p>
    {% csrf_token %}
    </form>
</div>
</div>
</div>
</div>


{% endblock %}