.title-question{
    position: absolute;
    left: 45%;
    font-family: 'Montesterrat';
    font-size: 40px;
    height:30px;

    color: #000000;
  }

  a:link    {color:#000;}


  .title-question-more{

    font-family: 'Montesterrat';
    font-weight: bold;
    font-size: 40px;
    margin-right:50px;

  }

  .right-span{
      float: right;
      position: relative;
      right: 80px;
  }